Fleet Management System/FMS/Web References/FMS_Helper/FMS_Helper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="check_Username">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_UsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="check_UsernameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_userID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_userIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="check_userIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_group_code">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_group_codeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_group_codeResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="get_vehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_group_code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_vehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_vehicleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_customer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_group_code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_customerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_customerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_a_tracks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_vid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_a_tracksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_a_tracksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="check_UsernameSoapIn">
    <wsdl:part name="parameters" element="tns:check_Username" />
  </wsdl:message>
  <wsdl:message name="check_UsernameSoapOut">
    <wsdl:part name="parameters" element="tns:check_UsernameResponse" />
  </wsdl:message>
  <wsdl:message name="check_userIDSoapIn">
    <wsdl:part name="parameters" element="tns:check_userID" />
  </wsdl:message>
  <wsdl:message name="check_userIDSoapOut">
    <wsdl:part name="parameters" element="tns:check_userIDResponse" />
  </wsdl:message>
  <wsdl:message name="get_group_codeSoapIn">
    <wsdl:part name="parameters" element="tns:get_group_code" />
  </wsdl:message>
  <wsdl:message name="get_group_codeSoapOut">
    <wsdl:part name="parameters" element="tns:get_group_codeResponse" />
  </wsdl:message>
  <wsdl:message name="get_vehicleSoapIn">
    <wsdl:part name="parameters" element="tns:get_vehicle" />
  </wsdl:message>
  <wsdl:message name="get_vehicleSoapOut">
    <wsdl:part name="parameters" element="tns:get_vehicleResponse" />
  </wsdl:message>
  <wsdl:message name="get_customerSoapIn">
    <wsdl:part name="parameters" element="tns:get_customer" />
  </wsdl:message>
  <wsdl:message name="get_customerSoapOut">
    <wsdl:part name="parameters" element="tns:get_customerResponse" />
  </wsdl:message>
  <wsdl:message name="get_a_tracksSoapIn">
    <wsdl:part name="parameters" element="tns:get_a_tracks" />
  </wsdl:message>
  <wsdl:message name="get_a_tracksSoapOut">
    <wsdl:part name="parameters" element="tns:get_a_tracksResponse" />
  </wsdl:message>
  <wsdl:message name="check_UsernameHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="check_UsernameHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="check_userIDHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="check_userIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="get_group_codeHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_group_codeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="get_vehicleHttpGetIn">
    <wsdl:part name="_group_code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_vehicleHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="get_customerHttpGetIn">
    <wsdl:part name="_group_code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_customerHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="get_a_tracksHttpGetIn">
    <wsdl:part name="_vid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_a_tracksHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="check_UsernameHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="check_UsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="check_userIDHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="check_userIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="get_group_codeHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_group_codeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="get_vehicleHttpPostIn">
    <wsdl:part name="_group_code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_vehicleHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="get_customerHttpPostIn">
    <wsdl:part name="_group_code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_customerHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="get_a_tracksHttpPostIn">
    <wsdl:part name="_vid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_a_tracksHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="FMS_HelperSoap">
    <wsdl:operation name="check_Username">
      <wsdl:input message="tns:check_UsernameSoapIn" />
      <wsdl:output message="tns:check_UsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <wsdl:input message="tns:check_userIDSoapIn" />
      <wsdl:output message="tns:check_userIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <wsdl:input message="tns:get_group_codeSoapIn" />
      <wsdl:output message="tns:get_group_codeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <wsdl:input message="tns:get_vehicleSoapIn" />
      <wsdl:output message="tns:get_vehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <wsdl:input message="tns:get_customerSoapIn" />
      <wsdl:output message="tns:get_customerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <wsdl:input message="tns:get_a_tracksSoapIn" />
      <wsdl:output message="tns:get_a_tracksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FMS_HelperHttpGet">
    <wsdl:operation name="check_Username">
      <wsdl:input message="tns:check_UsernameHttpGetIn" />
      <wsdl:output message="tns:check_UsernameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <wsdl:input message="tns:check_userIDHttpGetIn" />
      <wsdl:output message="tns:check_userIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <wsdl:input message="tns:get_group_codeHttpGetIn" />
      <wsdl:output message="tns:get_group_codeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <wsdl:input message="tns:get_vehicleHttpGetIn" />
      <wsdl:output message="tns:get_vehicleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <wsdl:input message="tns:get_customerHttpGetIn" />
      <wsdl:output message="tns:get_customerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <wsdl:input message="tns:get_a_tracksHttpGetIn" />
      <wsdl:output message="tns:get_a_tracksHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FMS_HelperHttpPost">
    <wsdl:operation name="check_Username">
      <wsdl:input message="tns:check_UsernameHttpPostIn" />
      <wsdl:output message="tns:check_UsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <wsdl:input message="tns:check_userIDHttpPostIn" />
      <wsdl:output message="tns:check_userIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <wsdl:input message="tns:get_group_codeHttpPostIn" />
      <wsdl:output message="tns:get_group_codeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <wsdl:input message="tns:get_vehicleHttpPostIn" />
      <wsdl:output message="tns:get_vehicleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <wsdl:input message="tns:get_customerHttpPostIn" />
      <wsdl:output message="tns:get_customerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <wsdl:input message="tns:get_a_tracksHttpPostIn" />
      <wsdl:output message="tns:get_a_tracksHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FMS_HelperSoap" type="tns:FMS_HelperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="check_Username">
      <soap:operation soapAction="http://tempuri.org/check_Username" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <soap:operation soapAction="http://tempuri.org/check_userID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <soap:operation soapAction="http://tempuri.org/get_group_code" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <soap:operation soapAction="http://tempuri.org/get_vehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <soap:operation soapAction="http://tempuri.org/get_customer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <soap:operation soapAction="http://tempuri.org/get_a_tracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FMS_HelperSoap12" type="tns:FMS_HelperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="check_Username">
      <soap12:operation soapAction="http://tempuri.org/check_Username" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <soap12:operation soapAction="http://tempuri.org/check_userID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <soap12:operation soapAction="http://tempuri.org/get_group_code" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <soap12:operation soapAction="http://tempuri.org/get_vehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <soap12:operation soapAction="http://tempuri.org/get_customer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <soap12:operation soapAction="http://tempuri.org/get_a_tracks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FMS_HelperHttpGet" type="tns:FMS_HelperHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="check_Username">
      <http:operation location="/check_Username" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <http:operation location="/check_userID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <http:operation location="/get_group_code" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <http:operation location="/get_vehicle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <http:operation location="/get_customer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <http:operation location="/get_a_tracks" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FMS_HelperHttpPost" type="tns:FMS_HelperHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="check_Username">
      <http:operation location="/check_Username" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_userID">
      <http:operation location="/check_userID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_group_code">
      <http:operation location="/get_group_code" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_vehicle">
      <http:operation location="/get_vehicle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_customer">
      <http:operation location="/get_customer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_a_tracks">
      <http:operation location="/get_a_tracks" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FMS_Helper">
    <wsdl:port name="FMS_HelperSoap" binding="tns:FMS_HelperSoap">
      <soap:address location="http://119.160.132.105:801/ws_fms/FMS_Helper.asmx" />
    </wsdl:port>
    <wsdl:port name="FMS_HelperSoap12" binding="tns:FMS_HelperSoap12">
      <soap12:address location="http://119.160.132.105:801/ws_fms/FMS_Helper.asmx" />
    </wsdl:port>
    <wsdl:port name="FMS_HelperHttpGet" binding="tns:FMS_HelperHttpGet">
      <http:address location="http://119.160.132.105:801/ws_fms/FMS_Helper.asmx" />
    </wsdl:port>
    <wsdl:port name="FMS_HelperHttpPost" binding="tns:FMS_HelperHttpPost">
      <http:address location="http://119.160.132.105:801/ws_fms/FMS_Helper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>